* {
  color: #F1ECC3;
    font-family: Arial;
   
  }
  
  body {
    background-color: #515E63;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI3jFKYH_Da8QdKas_ZjqQgYsNOqHf6Kqv6gPQy4l1TqKLMpn8PTjTdne3YhE9oTJ2GNM&usqp=CAU');
  }
  
nav {
  background-color:#1b1d1c;
}

nav ul li {
  
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
 
}

nav ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}
  td,th{
    border: 1px solid black;
    border-collapse: collapse;
  }

  h1 {
    text-align: center;
  }

  input {
    color: #57837B;
  }

  img {
    width: 25%;
  }
  
  