body{
  background-color: #FFDDCC;
}



  h1 {
    color: #99154E;
    font-size: 65px;
    font-family: 'Zilla Slab Highlight', cursive;
    text-align: center;
  }
   
  h2 {
    font-family: Times;
    color: #FFC93C;
  }
  

  ol li {
    
    font-family: Times;
    color: #FFC93C;
  }
  ul li {
    font-family: Times;
    color: #FFC93C;
  }
 
  
nav {
  background-color:#99154E;
}

nav ul li {
  
  
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
 
}

nav ul li a {

  text-decoration: none;
}

a {
  color: #FFBBCC;
  font-family: Times;
  text-decoration: none;
}
  td,th{
    background-color: #99154E;
    color: #FFC93C;
    font-size: 20px;
    font-family: Arial;
    border: 1px solid black;
    border-collapse: collapse;
  }

  

  input {
    color: #57837B;
  }

  img {
    width: 25%;
  }
  
  div{
    
    text-align: center;
    background-color: #99154E;
  }

  
p {
  font-size: 25px;
  color: #FFC93C;
}

  